{% extends 'layout/default.html' %}
{% load custom_filters %}

Название у нас будет prouducts
{% block title %}
News
{% endblock title %}

{% block content %}
<!-- <h1>Все новости</h1> -->
<h3> Всего новостей в ленте: {{ news|length }} </h3>
{% if news %}
<table class="table">
    <tr>
        <th scope="col">
            Заголовок
        </th>
        <th scope="col">
            Дата
        </th>
        <th scope="col">
            Описание
        </th>
    </tr>
    {% for post in news %}
    <tr>
        <td>
            <a href="{% url 'news:post_detail' post.id %}">{{ post.tittle|censor }}</a>
        </td>
        <td>
            {{ post.time|date:'d-M-Y h:m' }}
        </td>
        <td>
            {{ post.text|truncatechars:50|censor }}
        </td>
        <td>
            <a href="{% url 'news:post_edit' post.id %}">
                Edit
            </a>
            <a href="{% url 'news:post_delete' post.id %}">
                Delete
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% include 'news/parts/paginator.html' %}
<!-- {{ news }} -->
{% else %}
<h2>Новостей нет!</h2>
{% endif %}
{% endblock content %}