{% extends 'layout/default.html' %}
<!-- {% load custom_filters %} -->

Название у нас будет prouducts
{% block title %}
Posts
{% endblock title %}

{% block content %}
<!-- <h1>Все новости</h1> -->
<h3> Всего новостей в ленте: {{ post|length }} </h3>
{% if posts %}
<table class="table">
    <tr>
        <th scope="col">
            ЗаголовокPosts
        </th>
        <th scope="col">
            Дата
        </th>
        <th scope="col">
            Описание
        </th>
    </tr>
    {% for post in news %}
    <tr>
        <td>
            {{ post.tittle|censor }}
        </td>
        <td>
            {{ post.time|date:'d-M-Y h:m' }}
        </td>
        <td>
            {{ post.text|truncatechars:50|censor }}
        </td>

    </tr>
    {% endfor %}
</table>
<!-- {{ news }} -->
{% else %}
<h2>Новостей нет!</h2>
{% endif %}
{% endblock content %}