<!--  наследуемся от шаблона base.html -->
{% extends 'layout/default.html' %}
{% load custom_filters %}

Название у нас будет prouducts
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<table class="table">
    <tr>
        <th scope="col">
            Заголовок
        </th>
        <th scope="col">
            Дата
        </th>
        <th scope="col">
            Описание
        </th>
    </tr>
    <tr>
        <td>
            {{ post.tittle|censor }}
        </td>
        <td>
            {{ post.time|date:'d-M-Y h:m' }}
        </td>
        <td>
            {{ post.text|truncatechars:50|censor }}
        </td>
    </tr>
</table>
<h2>{{ post.tittle|censor }}</h2>
{{ post.text|censor }}
{% endblock content %}